################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
/Visual/Visual/Visual.vcxproj.filters
*.vcxproj
*.filters
